@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:300,400,600,700');

body {
  font-family: $sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  color: var(--secondary);
  background-color: var(--white);
}

footer { background-color: var(--black); }

code {
  font-family: $monospace;
  font-size: 1.3rem;
  line-height: 1.3;
  position: relative;
  color: var(--grey-light);
}

h1 { font-size: 4.2rem;   }
h2 { font-size: 2.2rem;   }
h3 { font-size: 1.7rem; }
h4 { font-size: 1.5rem; }

h1,h2 {
  font-weight: 400;
  color: var(--black);
}

h3, h4 {
  font-weight: 600;
  color: var(--primary);
}

a { text-decoration: none; color: var(--dark); }
a:link,a:visited { color: var(--black); }
a:hover { color: var(--primary); text-decoration: underline; }

.container {
  display: flex;
}

.row {
  position: relative;
}

.cap-width {
  padding-top: 5rem;
  max-width: 153rem;
  margin: 0 auto;
}

.fluid {
  display: flex;
}

.cols {
  flex: 0 0 50%;
}

.center-sb {
  justify-content: space-between;
  align-items: center;
}

.center-ce {
  justify-content: center;
  align-items: center;
}

.center-h {
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.flip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}