/*! minireset v0.1 | MIT License | custom settings | based on minireset.css @ github.com/jgthms/minireset.css */

*,*:before,*:after{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;box-sizing:inherit}html{font-size:62.5%;box-sizing:border-box}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}embed,iframe,object,audio,video{height:auto;max-width:100%}

/*! minireset v0.1 | MIT License | custom settings | based on minireset.css @ github.com/jgthms/minireset.css */