/*  Navigation
 * -------------------------- */
nav img { height: 5.7rem; }

/*  Hero
 * -------------------------- */
.float-right img { max-width: 120%; }

/*  Brands
 * -------------------------- */
 .banner-list img { height: 5rem; padding: 0 4rem; }

/*  Connect
 * -------------------------- */
.underlay img {
  width: 60rem;
  box-shadow: -5px 5px 5rem -2rem var(--grey);
}

/*  Carrier
 * -------------------------- */
.carriers > img {
  // divider wave bottom
  width: 100%;
  max-width: 100%;
  height: 8.5rem;

  position: relative;
  bottom: -2px;
}

.logo-list img {
  margin: 0 2rem;
  width: auto;
  height: 8.5rem;
  border-radius: 100%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.2);
}

/*  Solutions
 * -------------------------- */
.wave-down > img {
  width: 100%;
  max-width: 100%;
  height: 6rem;

  position: relative;
  bottom: -5.5rem;
}

.col img {
  width: auto;
  height: 8.5rem;
  margin: 5rem;
  border-radius: 100%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.2);

  position: relative;
  bottom: 0;
}

/*  Customers
 * -------------------------- */
.card img { width: 34rem; }